version: "3"
services:
  backend:
    container_name: near-vbi-k5-backend
    build:
      context: backend
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_PORT: 5432
    ports:
      - "30000:3000"
    networks:
      - dev-network
    logging:
      driver: "json-file"
      options:
        max-file: "1"
        max-size: "1k"

  db:
    image: postgres:14.3
    container_name: near-vbi-k5-db
    environment:
      - "TZ=Europe/Amsterdam"
      - "POSTGRES_USER=docker"
      - "POSTGRES_PASSWORD=docker"
    volumes:
      - near-postgres-volume:/var/lib/postgresql/data
      - "${PWD}/sql:/docker-entrypoint-initdb.d"
    ports:
      - "54320:5432"
    networks:
      - dev-network
    logging:
      driver: "json-file"
      options:
        max-file: "1"
        max-size: "1k"

  adminer:
    image: adminer:4.8.1-standalone
    container_name: near-vbi-k5-adminer
    ports:
      - "8080:8080"
    logging:
      driver: "json-file"
      options:
        max-file: "1"
        max-size: "1k"

volumes:
  near-postgres-volume:
    driver: local

networks:
  dev-network:
    driver: bridge
